@font-face {
  font-family: "Bilgen";
  src: url("../fonts/BilgenDemo-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}